/* 
    Document   : jslog
    Created on : Feb 2, 2012, 9:03:48 PM
    Author     : abhishek.dev
    Description:
        jslog stylesheet
*/
.jslog {
  font-family: Tahoma, Helvetica, Arial;
  color: #002b36;
  font-size: 9px;
  line-height: normal;
  letter-spacing: normal;
  position: fixed;
  _position: absolute;
  z-index: 10000;
  top: 2px;
  left: 2px;
}
.jslog select,
.jslog input {
  font: 99% Tahoma, Helvetica, Arial;
}
.jslog .dontDisplay {
  display: none;
}
.jslog .counter {
  cursor: pointer;
  position: absolute;
  background-color: #fdf6e3;
  border: 1px solid #b58900;
  padding: 2px;
  user-select: none;
  box-shadow: 0 0 3px #aaa;
}
.jslog .content {
  text-align: left;
  border: 1px solid #b58900;
  width: 400px;
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: white;
  box-shadow: 0 0 3px #aaa;
}
.jslog .header {
  padding: 2px;
  border-bottom: 1px solid #eee8d5;
  background-color: #fdf6e3;
  box-shadow: 0px 1px 2px #eee8d5;
  position: relative;
}
.jslog .header label {
  color: #586e75;
  padding-right: 3px;
  border-right: 1px solid #bbb;
}
.jslog .header input {
  cursor: pointer;
  color: #002b36;
  margin: 0px 1px;
}
.jslog .header .clear {
  color: #268bd2;
  margin-left: 3px;
}
.jslog .header .close {
  color: #dc322f;
  font: monospace;
  cursor: pointer;
  display: block;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  vertical-align: middle;
  width: 16px;
}
.jslog .log {
  height: 240px;
  overflow: auto;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 11px;
  margin: 0;
  padding: 0;
  list-style: none inside;
}
.jslog .log li {
  word-wrap: break-word;
  border-bottom: 1px solid #CCCCCC;
}
.jslog .log li.odd {
  background-color: #ffffff;
}
.jslog .log li.even {
  background-color: #f6f6f6;
}
.jslog .log li ins {
  padding: 0 3px;
  float: left;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
}
.jslog .log li ins .noTextFormat {
  width: 40px;
}
.jslog .log li pre {
  display: none;
}
.jslog .log li em {
  font-style: normal;
  padding: 0 5px 0 3px;
  color: #6c71c4;
  *float: left;
  overflow: hidden;
}
.jslog .log li.DEBUG ins {
  background-color: blue;
  color: white;
}
.jslog .log li.INFO ins {
  background-color: #10FF10;
  color: #073642;
}
.jslog .log li.WARN ins {
  background-color: yellow;
  color: #586e75;
}
.jslog .log li.ERROR ins {
  background-color: #dc322f;
  color: white;
}
.jslog .footer {
  display: none;
  padding-left: 2px;
  border-top: 1px solid black;
  background-color: #fdf6e3;
}
